<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamcard.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.dreamcard.app.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.dreamcard.app.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" >
    </uses-feature>

    <application
        android:allowBackup="true"
        android:icon="@drawable/dream_card_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="net.hockeyapp.android.UpdateActivity" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.dreamcard.app" />
            </intent-filter>
        </receiver>
        <service
            android:name=".cloudMessaging.DreamGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".cloudMessaging.DreamInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name=".cloudMessaging.DreamRegistrationIntentService"
            android:exported="false">
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".view.activity.SliderMenuActivity"
            android:label="@string/title_activity_slider_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".view.activity.SlidingMenuActivity"
            android:label="@string/title_activity_sliding_menu"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".view.activity.StoreDetailsActivity"
            android:label="@string/title_activity_store_details"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".view.activity.OfferDetailsActivity"
            android:label="@string/title_activity_offer_details"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".view.activity.MainActivationFormActivity"
            android:label="@string/title_activity_main_activation_form"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".view.activity.RateBusinessActivity"
            android:label="@string/title_activity_rate_business"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".view.activity.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".view.activity.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".view.activity.OfferInvoicePdfActivity"
            android:label="@string/title_activity_offer_invoice_pdf"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity
            android:name=".view.activity.BuyDreamCardActivity"
            android:label="@string/title_activity_buy_dream_card"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity
            android:name=".view.activity.FAQViewer"
            android:label="@string/title_activity_faq_item"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity
            android:name=".view.activity.ImageViewerActivity"
            android:label="@string/title_activity_image_viewer"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".view.activity.NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer_actiity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".view.activity.AddCommentActivity"
            android:label="@string/title_activity_add_comment"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>
